<% provide(:title, "about us") %>

<%=yield %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | Ruby on Rails Group Project</title>
</head>

<body>
    <!-- main container start -->
  <div class="container">
    <div class="container">
      <h2 style="text-align:center; margin-bottom:30px;">About us</h2>
  <!-- row 1 start -->
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p style="font-size: 20px;">
                Our team consists of dedicated individuals who are kind, friendly, and caring. Our staff is here to ensure a pleasant experience during your visit to our office.
                Our team includes experienced and energetic people whose goal is to communicate well with our patients and provide the best care possible.
              </p>
            </div>
          </div>
  <!-- row 1 end -->
  <!-- start row 2 -->
          <div class="row" style="padding-top: 2em;">
              <div class="col-xs-4">
                  <div class="panel2 panel2-default">
                      <div class="panel2-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox_paul">
                              <%= image_tag("paulImage.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                              <!-- <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span> -->
                          </a>
                      </div>
                  </div>
              </div>
  <!-- Modal Paul-->
              <div id="lightbox_paul" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h2 style="text-align: center;">Paul O'Sullivan - Dentist</h2>
                        <p style="padding: 0 20px 20px 20px">Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.But despite all its benefits, seeing the same random Latin text in every design can get a little boring for you and your clients. So if you have a client who’s got a sense of humour or if you’re just tired of going the traditional route in your mockups, here are 15 creative and funny lorem ipsum text generators that are sure to lighten the mood at any client meeting.</p>
                    </div>
                    <div class="modal-body">
                        <%= image_tag("paulImage.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                    </div>
                  </div>
                </div>
              </div>
  <!-- Paul modal end -->
  <!-- Stephen modal start-->            
              <div class="col-xs-4">
                  <div class="panel2 panel2-default">
                      <div class="panel2-body">
                        <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox_stephen">
                            <%= image_tag("stephenPic.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                              <!-- <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span> -->
                          </a>
                          
                      </div>
                  </div>
              </div>
              
  
            <div id="lightbox_stephen" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 style="text-align: center;">Stephen Cagney - Dentist</h2>
                          <p style="padding: 0 20px 20px 20px">Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.But despite all its benefits, seeing the same random Latin text in every design can get a little boring for you and your clients. So if you have a client who’s got a sense of humour or if you’re just tired of going the traditional route in your mockups, here are 15 creative and funny lorem ipsum text generators that are sure to lighten the mood at any client meeting. 
                          </p>
                  </div>
                    <div class="modal-body">
                        <%= image_tag("stephenPic.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                    </div>
                </div>
              </div>
            </div>
  <!-- Stephen modal end-->
  <!-- Barrie modal start-->
            <div class="col-xs-4">
              <div class="panel2 panel2-default">
                <div class="panel2-body">
                  <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox_barrie">
                      <%= image_tag("barrie.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                      <!-- <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span> -->
                  </a>            
                </div>
              </div>
            </div>
  
            <div id="lightbox_barrie" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h2 style="text-align: center;">Barrie Kealy - Dentist</h2>
                        <p style="padding: 0 20px 20px 20px">Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.But despite all its benefits, seeing the same random Latin text in every design can get a little boring for you and your clients. So if you have a client who’s got a sense of humour or if you’re just tired of going the traditional route in your mockups, here are 15 creative and funny lorem ipsum text generators that are sure to lighten the mood at any client meeting.</p>
                      </div>
                        <div class="modal-body">
                            <%= image_tag("barrie.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                        </div>
                    </div>
                </div>
            </div>
  <!-- Barrie modal end-->
          </div> 
  <!-- row 2 end -->
  <!-- paul stephen barrie titles start -->
          <div class="row" style="padding-bottom: 7em">
            <div class="col-xs-4">
              <h1 style="color: #000000 !important; text-align: center;">Paul O'Sullivan</h1>
                  <h3 style="color: #000000 !important; text-align: center; font-size: 16px" >DENTIST</h3>
                  <h5 style="color: #000000; text-align: center;font-size: 14px" >
                      <a style="color: #000000; font-size: 14px;" href="mailto:paul@gmail.com" target="_top">paul@gmail.com
                      </a>
                  </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px;">
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:+353 1111111">+353 1111111
                      </a> 
                   </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px">
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:087 1111111">087 1111111
                      </a> 
                  </h5>
            </div>
            
            <div class="col-xs-4">
              <h1 style="color: #000000 !important; text-align: center;">Stephen Cagney</h1>
                  <h3 style="color: #000000 !important; text-align: center; font-size: 16px">DENTIST</h3>
                  <h5 style="color: #000000; text-align: center; font-size: 14px" >
                      <a style="color: #000000; font-size: 14px;" href="mailto:stephen@gmail.com" target="_top">stephen@gmail.com
                      </a>
                  </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px">
                  <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:+353 1111111"> +353 1111111
                      </a>
                   </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px">
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:087 1111111">087 1111111
                      </a> 
                  </h5>
            </div>
            <div class="col-xs-4">
              <h1 style="color: #000000 !important; text-align: center;">Barrie Kealy</h1>
                   <h3 style="color: #000000 !important; text-align: center; font-size: 16px" >DENTIST</h3>
                   <h5 style="color: #000000; text-align: center; font-size: 14px" >
                      <a style="color: #000000; font-size: 14px;" href="mailto:barrie@gmail.com" target="_top">barrie@gmail.com
                      </a>
                   </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px" >
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:+353 1111111">+353 1111111
                      </a>  
                   </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px">
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:087 1111111">087 1111111
                      </a> 
                  </h5>
            </div>  
          </div>
  <!-- paul stephen barrie titles start -->
  
  <!-- bottom row start -->
  <!-- start row 2 -->
          <div class="row" style="padding-top: 2em;">
              <div class="col-xs-4">
                  <div class="panel2 panel2-default">
                      <div class="panel2-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox_colin">
                              <%= image_tag("colinPic.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                              <!-- <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span> -->
                          </a>
                      </div>
                  </div>
              </div>
  <!-- colin Modal start-->
              <div id="lightbox_colin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h2 style="text-align: center;">Colin Kelly - Nurse</h2>
                        <p style="padding: 0 20px 20px 20px">Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.But despite all its benefits, seeing the same random Latin text in every design can get a little boring for you and your clients. So if you have a client who’s got a sense of humour or if you’re just tired of going the traditional route in your mockups, here are 15 creative and funny lorem ipsum text generators that are sure to lighten the mood at any client meeting.</p>
                    </div>
                    <div class="modal-body">
                        <%= image_tag("colinPic.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                    </div>
                  </div>
                </div>
              </div>
  <!-- colin modal end -->
  <!-- peter modal start-->            
              <div class="col-xs-4">
                  <div class="panel2 panel2-default">
                      <div class="panel2-body">
                        <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox_peter">
                            <%= image_tag("peterPic.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                              <!-- <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span> -->
                          </a>
                          
                      </div>
                  </div>
              </div>
              
  
            <div id="lightbox_peter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 style="text-align: center;">Peter Whelan - Nurse</h2>
                          <p style="padding: 0 20px 20px 20px">Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.But despite all its benefits, seeing the same random Latin text in every design can get a little boring for you and your clients. So if you have a client who’s got a sense of humour or if you’re just tired of going the traditional route in your mockups, here are 15 creative and funny lorem ipsum text generators that are sure to lighten the mood at any client meeting. 
                          </p>
                  </div>
                    <div class="modal-body">
                        <%= image_tag("peterPic.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                    </div>
                </div>
              </div>
            </div>
  <!-- peter modal end-->
  <!-- jordy modal start-->
            <div class="col-xs-4">
              <div class="panel2 panel2-default">
                <div class="panel2-body">
                  <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox_jordy">
                    <%= image_tag("jordyPic.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                      <!-- <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span> -->
                  </a>            
                </div>
              </div>
            </div>
  
            <div id="lightbox_jordy" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h2 style="text-align: center;">Jordy Letainturier - receptionist</h2>
                        <p style="padding: 0 20px 20px 20px">Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.But despite all its benefits, seeing the same random Latin text in every design can get a little boring for you and your clients. So if you have a client who’s got a sense of humour or if you’re just tired of going the traditional route in your mockups, here are 15 creative and funny lorem ipsum text generators that are sure to lighten the mood at any client meeting.</p>
                      </div>
                        <div class="modal-body">
                            <%= image_tag("jordyPic.png", :style => "border-radius: 50%; width: 200px; height: 200px; display: block; margin-right: auto; margin-left:auto;") %>
                        </div>
                    </div>
                </div>
            </div>
  <!-- jordy modal end-->
          </div> 
  <!-- row 2 end -->
  <!-- colin peter jordy titles start -->
          <div class="row" style="padding-bottom: 7em">
            <div class="col-xs-4">
              <h1 style="color: #000000 !important; text-align: center;">Colin Kelly</h1>
                  <h3 style="color: #000000 !important; text-align: center; font-size: 16px" >NURSE</h3>
                  <h5 style="color: #000000; text-align: center;font-size: 14px" >
                      <a style="color: #000000; font-size: 14px;" href="mailto:colin@gmail.com" target="_top">colin@gmail.com
                      </a>
                  </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px;">
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:+353 1111111">+353 1111111
                      </a> 
                   </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px">
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:086 1111111">086 1111111
                      </a> 
                  </h5>
            </div>
            
            <div class="col-xs-4">
              <h1 style="color: #000000 !important; text-align: center;">Peter Whelan</h1>
                  <h3 style="color: #000000 !important; text-align: center; font-size: 16px">NURSE</h3>
                  <h5 style="color: #000000; text-align: center; font-size: 14px" >
                      <a style="color: #000000; font-size: 14px;" href="mailto:peter@gmail.com" target="_top">peter@gmail.com
                      </a>
                  </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px">
                  <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:+353 1111111"> +353 1111111
                      </a>
                   </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px">
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:086 1111111">086 1111111
                      </a> 
                  </h5>
            </div>
            <div class="col-xs-4">
              <h1 style="color: #000000 !important; text-align: center;">Jordy Letainturier</h1>
                   <h3 style="color: #000000 !important; text-align: center; font-size: 16px" >RECEPTIONIST</h3>
                   <h5 style="color: #000000; text-align: center; font-size: 14px" >
                      <a style="color: #000000; font-size: 14px;" href="mailto:jordy@gmail.com" target="_top">jordy@gmail.com
                      </a>
                   </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px" >
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:+353 1111111">+353 1111111
                      </a>  
                   </h5>
                   <h5 style="color: #000000; text-align: center; font-size: 14px">
                      <a style="color: #000000; text-align: center; font-size: 14px;" href="tel:086 1111111">086 1111111
                      </a> 
                  </h5>
            </div>  
          </div>
  <!-- colin peter jordy titles start -->
          
    </div> 
  <!-- second container end -->
  
  
  </div>
    <!-- main container end -->
    
</body>
</html>
