<% provide(:title, "Home") %>

<%=yield %>


<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | Ruby on Rails Group Project</title>
</head>


<body>
      <!-- main container start -->
  <div class="container">
    <!-- row 1 start -->
    <div class="row">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
    
          <div class="item active" style="height: 450px;">
            <%= image_tag("happyFamily.jpg", :style => "width: 100%;height:100%;") %>
              <div class="carousel-caption">
                <h3 id="captionCarousel">A FAMILY OF HAPPY CUSTOMERS</h3>
                <p></p>
              </div> 
          </div>
    
          <div class="item" style="height: 450px;">
            <%= image_tag("SurgeryChair.jpg", :style => "width: 100%;height:100%;") %>            
              <div class="carousel-caption">
                <h3 id="captionCarousel">ONE OF OUR STATE OF THE ART DENTAL ROOMS</h3>
                  <p></p>
              </div>
          </div>
        
          <div class="item" style="height: 450px;">
            <%= image_tag("toothPicCarousel.jpg", :style => "width: 100%;height:100%;") %>
             
              <div class="carousel-caption">
                <h3 id="captionCarousel">TRANSFROM YOUR SMILE</h3>
                  <p></p>
              </div> 
          </div>
        </div>
      </div>
    </div>
    <!-- row 1 end -->
    
    <!-- <div class="row text-center slideanim"> -->
       
    <!-- row 2 start -->
      
      <div class="container text-center" style="margin-top:8%;">
          <h3>DENTAL CARE</h3>
          <p><em>Want a smile you can show off! our name is the place for you</em></p>
          <p>Here at Dental Assists we have a wide arrange of treatments with unbeatable prices. We provide a free check up to all our new customers.</p>
          <p><em>Most importantly we pride ourselves results.</em></p>
          <br>
          <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4">
              <h3 style="color:#f4511e">Treatments</h3><br>
              <a href="/treatments.html">
                <%= image_tag("DENTALPlaceHolder.jpg", :style => "width: 100%;height:100%;border-radius:0%44%;") %>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
              <h3 style="color:#f4511e">Book A Free Check Up</h3><br>
              <a href="/contact">
                <%= image_tag("DENTALPlaceHolder.jpg", :style => "width: 100%;height:100%; border-radius:10px;") %>
              </a>  
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
              <h3 style="color:#f4511e">Meet Ur Team</h3><br>
              <a href="/aboutUs.html">
                <%= image_tag("DENTALPlaceHolder.jpg", :style => "width: 100%;height:100%;border-radius:44%0%;") %>
              </a>  
            </div>
          </div>
      </div>
    <!-- row 2 end -->
    <!-- row 3 start -->
    <!-- Add Google Maps start -->
    <div class="row" style="margin-top:8%;">
      <div class="large-12 small-12 columns">
        <h1 style="margin-top: 50px;text-align:center;"> Find us at </h1>
        <iframe style="width:100%; height:400px;border-radius:20px;" class="float-center" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDA1_kypL3-F88HK7I3vMNp5ve-B_0Mom0 &q=Griffith College, S Circular Rd, Merchants Quay, Dublin 8, Ireland" allowfullscreen> </iframe> 
      </div>
    </div>
    <!-- Add Google Maps end -->
    <!-- row 3 end -->
    
  </div>
      <!-- main container end -->
    
</body>
</html>
