<% provide(:title, "login") %>

<%=yield %>


<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | Ruby on Rails Group Project</title>
</head>


<body>
    <!-- main container start -->
    <div class="container">
    
    
    </div>
      <!-- main container end -->
      
      #app/views/contact/new.html.erb
<%= form_for @contact do |c| %>
    <%= c.text_field :name %>
    <%= c.text_field :email %>
    <%= c.text_field :message %>
    <%= c.submit %>
<% end %>
    
</body>
</html>
