<% provide(:title, "news") %>

<%=yield %>


<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | Ruby on Rails Group Project</title>
</head>


<body>
    <!-- main container start -->
      <h2 style="text-align:center; margin-bottom:30px;"> NEWS</h2>
  <!-- main container start -->
    <div class="container">
      
      <!--news article one start-->
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-6 well" id="newArtical13">
            <h3 style="text-align:center;">  
              <% Newspage.all.each do |newspage| %>
                  <%= newspage.string %> </br>
              <% end %> 
            </h3>
            <p id="articleOne">
              <% Newspage.all.each do |newspage| %>
                <%= newspage.text %> </br>
              <% end %>
              
          </div>
        <!--news article one end-->
        
        <!--news article two start-->
          <div class="col-xs-12 col-md-6 col-lg-6 well" id="newArtical34">
            <h3 style="text-align:center;">  
              <% Newstwopage.all.each do |newstwopage| %>
                  <%= newstwopage.string %> </br>
              <% end %> 
            </h3>
            <p id="articleTwo">
              <% Newstwopage.all.each do |newstwopage| %>
                <%= newstwopage.text %> </br>
              <% end %>
          </div>
        </div>
        <!--news article two end-->
        
        <!--news article three start-->
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-6 well" id="newArtical13">
            <h3 style="text-align:center;">  
              <% Newsthreepage.all.each do |newsthreepage| %>
                  <%= newsthreepage.string %> </br>
              <% end %> 
            </h3>
            <p id="articleThree">
              <% Newsthreepage.all.each do |newsthreepage| %>
                <%= newsthreepage.text %> </br>
              <% end %>
          </div>
        <!--news article three end-->
        
        <!--news article four start-->
          <div class="col-xs-12 col-md-6 col-lg-6 well" id="newArtical34">
            <h3 style="text-align:center;">  
              <% Newsfourpage.all.each do |newsfourpage| %>
                  <%= newsfourpage.string %> </br>
              <% end %> 
            </h3>
            <p id="articleFour">
              <% Newsfourpage.all.each do |newsfourpage| %>
                <%= newsfourpage.text %> </br>
              <% end %>
          </div>
          <!--news article four start-->
        </div>
    </div>
    <!-- main container end -->
</body>
</html>