<% provide(:title, "Staff") %>

<%=yield %>


<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | Ruby on Rails Group Project</title>
</head>


<body>
      <!-- main container start -->
    <div class="container">
    
    
    </div>
      <!-- main container end -->
    
</body>
</html>
