<% provide(:title, "treatments") %>

<%=yield %>


<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | Ruby on Rails Group Project</title>
</head>


<body>
      <!-- main container start -->
  <div class="container">
    <h2 style="text-align:center; margin-bottom:30px;">TREATMENTS</h2>
    <h5 style="text-align: center;color: red;font-size: 22px;">How to clean your teeth</h5>
    <iframe style="margin-left: auto; margin-right: auto; display: block; margin-bottom:30px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="788.54" height="443" type="text/html" src="https://www.youtube.com/embed/gk8eKm4ajgM?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com">
      <div>
        <small>
          <a href="https://youtubeembedcode.com/en">https://youtubeembedcode.com/en</a>
        </small>
      </div>
      <div>
        <small>
          <a href="https://promocode.com.ph/shopee/">https://promocode.com.ph/shopee/</a>
        </small>
      </div>
    </iframe>
    <!-- row 1 start  -->
    <div class="row slideanim slide">
      <!-- treatment 1 start-->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="panel panel-default text-center">
          <div class="treatment-heading">
            <h1>Root Canel</h1>
          </div>
          <div class="panel-body">
            <p><strong>20</strong> Lorem</p>
            <p><strong>15</strong> Ipsum</p>
            <p><strong>5</strong> Dolor</p>
            <p><strong>2</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$19</h3>
            <h4>per month</h4>
          </div>
        </div>      
      </div>
      <!-- treatment 1 end-->
      <!-- treatment 2 start-->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="panel panel-default text-center">
          <div class="treatment-heading ">
            <h1>Dental Crowns</h1>
          </div>
          <div class="panel-body">
            <p><strong>50</strong> Lorem</p>
            <p><strong>25</strong> Ipsum</p>
            <p><strong>10</strong> Dolor</p>
            <p><strong>5</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$29</h3>
            <h4>per month</h4>
          </div>
        </div>      
      </div> 
      <!-- treatment 2 end-->
      <!-- treatment 3 start-->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="panel panel-default text-center">
          <div class="treatment-heading ">
            <h1>Orthodontics</h1>
          </div>
          <div class="panel-body">
            <p><strong>100</strong> Lorem</p>
            <p><strong>50</strong> Ipsum</p>
            <p><strong>25</strong> Dolor</p>
            <p><strong>10</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$49</h3>
            <h4>per month</h4>
          </div>
        </div>      
      </div>  
      <!-- treatment 3 end -->
    </div>
    <!-- row 1 end -->
    <!-- row 2 start  -->
    <div class="row slideanim slide" style="margin-top:20px;">
      <!-- treatment 4 start-->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="panel panel-default text-center">
          <div class="treatment-heading ">
            <h1> Dental Fillings</h1>
          </div>
          <div class="panel-body">
            <p><strong>20</strong> Lorem</p>
            <p><strong>15</strong> Ipsum</p>
            <p><strong>5</strong> Dolor</p>
            <p><strong>2</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$19</h3>
            <h4>per month</h4>
          </div>
        </div>      
      </div>
      <!-- treatment 4 end-->
      <!-- treatment 5 start-->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="panel panel-default text-center">
          <div class="treatment-heading ">
            <h1>Dental Implants</h1>
          </div>
          <div class="panel-body">
            <p><strong>50</strong> Lorem</p>
            <p><strong>25</strong> Ipsum</p>
            <p><strong>10</strong> Dolor</p>
            <p><strong>5</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$29</h3>
            <h4>per month</h4>
          </div>
        </div>      
      </div> 
      <!-- treatment 5 start-->
      <!-- treatment 6 start-->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="panel panel-default text-center">
          <div class="treatment-heading ">
            <h1>Tooth Extraction</h1>
          </div>
          <div class="panel-body">
            <p><strong>100</strong> Lorem</p>
            <p><strong>50</strong> Ipsum</p>
            <p><strong>25</strong> Dolor</p>
            <p><strong>10</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$49</h3>
            <h4>per month</h4>
          </div>
        </div>      
      </div> 
      <!-- treatment 6 start-->
    </div>  
    <!-- row 2 end -->
  </div>
      <!-- main container end -->

</body>
</html>
