
<%=yield %>


<% provide(:title, "contact us") %>

<%=yield %>


<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | Ruby on Rails Group Project</title>
</head>

<body>
  <h2 style="text-align:center; margin-bottom:30px;"> CONTACT US</h2>
  <!-- main container start -->
<div class="container">
  <!-- top row start  -->
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4" style="text-align:center; padding-top: 30px;"> 
        <%= image_tag("phone.png") %>
        <br>
        <h2>Our Phone</h2>
        <p>Call: <a "text-align: center; font-size: 14px;" href="tel:01-439 6815">01-282 1111 </a>
            <br> Monday-Friday
            <br> 8am-6pm </p>
    </div>
      <!-- form start -->
    <div class="col-xs-12 col-md-4 col-lg-4 well">
      
        
        
        <!--<% provide(:title, 'Sign up') %>-->
        <h2 class="bookAppointment">Book an appointment</h2>

          <%= form_for(:message, url: contact_url) do |f| %>
         
    
            <%= f.label :name %>
            <%= f.text_field :messageName %>
          
            <%= f.label :email %>
            <%= f.email_field :messageEmail %>
          
            <%= f.label :phone %>
            <%= f.text_field :messagePhone %>
          
            <%= f.label :title %>
            <%= f.text_field :messageTitle %>
          
            <%= f.label :message %>
            <%= f.text_field :messageText %>
          
            <%= f.submit "Send Message", class: "btn btn-primary", id:"top"%>
          <% end %>
    </div>
    <!-- form end  -->
    <div class="col-xs-12 col-md-4 col-lg-4" style="text-align: center; padding-top: 30px;">
        <a href="mailto:test@gmail.com">
        <%= image_tag("email.png") %>
          </a>
        <br>
        <h2>Email</h2>
        <p>Send an email to:
            <br> <a href="mailto:test@gmail.com" target="_top">test@gmail.com.ie </a> </p>
    </div>
  </div>
<!-- top end  -->  
<!-- Add Google Maps start -->
  <div class="row">
    <div class="large-12 small-12 columns">
      <h2 style="text-align:center;"> Our Location</h2>
      <iframe style="width:100%; height:400px;border-radius:20px;" class="float-center" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDA1_kypL3-F88HK7I3vMNp5ve-B_0Mom0 &q=Griffith College, S Circular Rd, Merchants Quay, Dublin 8, Ireland" allowfullscreen> </iframe> 
    </div>
  </div>  
    <!-- Add Google Maps end -->

</div>
<!-- main container end -->

</body>
</html>
