
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4> Update the news page for text box 4</h4>
          <%= form_for(:newsfourpage, url: newsFour_url) do |f| %>
        
          <%= f.label :Title %>
          <%= f.text_field :string %>
          
          <%= f.label :text %>
          <%= f.text_field :text %>
          
          <%= f.submit "Update News", class: "btn btn-primary", id:"top"%>
          <% end %>
          
          <h4>Delete news for text box 4:</h4>
          <% Newsfourpage.all.each do |newsfourpage| %>
            <%= newsfourpage.string %> :    <%= link_to 'Delete', newsfourpage, method: :delete, data: {confirm: "Are you sure?"} %></br>
          <% end %>
    </div>
</div>