
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4> Update the news page for text box 3</h4>
          <%= form_for(:newsthreepage, url: newsThree_url) do |f| %>
        
          <%= f.label :Title %>
          <%= f.text_field :string %>
          
          <%= f.label :text %>
          <%= f.text_field :text %>
          
          <%= f.submit "Update News", class: "btn btn-primary", id:"top"%>
          <% end %>
          
          <h4>Delete news for text box 3:</h4>
          <% Newsthreepage.all.each do |newsthreepage| %>
          <%= newsthreepage.string %> :    <%= link_to 'Delete', newsthreepage, method: :delete, data: {confirm: "Are you sure?"} %></br>
          <% end %>
    </div>
</div>