@import "bootstrap-sprockets";
@import "bootstrap";

// nav bar start
  .navbar {
      margin-bottom: 0;
      background-color: #f4511e !important;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
// nav bar end

// customer section scroll start
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  
  /* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
// customer section scroll end
// caption image start
#captionCarousel{
  color: #f4511e;
}
// caption image end

// footer
.foot{
    color:#ffffff;
    margin-top: 20px;
}

// heading on treatments start
.treatment-heading {
    color: #fff !important;
    background-color: #000080 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel {
    border: 1px solid #000080 !important;
}
// heading on treatments end
// message form start
input, textarea,  select, .uneditable-input{
    width: 100%;
    border:1px solid #bbb !important;
    margin-bottom: 15px !important;
    margin-bottom: 15px !important;
}
#top{
    margin-top: 10px;
}
input{
    height: auto !important;
}
//message form end
// 
.bookAppointment{
    text-align: center !important;
    color: red;
}
#newArtical13{
    width: 48%;
    margin-right: 1%;
    height: 300px;
}
#newArtical34{
    width: 48%;
    margin-left: 1%;
    height: 300px;
}
.appointment{
  width: 90%;
  float: center;
  float: right;
}
