<% provide(:title, "Staff Login") %>

<%=yield %>


<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | Ruby on Rails Group Project</title>
</head>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:staff_login, url: login_url) do |f| %>

      <%= f.label "Staff ID" %>
      <%= f.text_field :email, class: 'form-control' %><br>

      <%= f.label :role %><br>
      <%= f.select :role, [['Manager','manager'],['Staff','staff']], class: 'form-control' %><br><br>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>