<% provide(:title, @staff_login.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @staff_login %>
        <%= @staff_login.name %>
      </h1>
      <!-- Only display if logged in staff member is an admin -->
      <% if @staff_login.accessLevel == "admin" %>
        <!-- RENDER HEADER PARTIAL -->
        <%= render "layouts/managerForm" %>   
      <% end %>
      <!-- For for adding new staff, available to all logged in staff and admin -->
      <%= render "layouts/addStaffForm" %>
      <br>
      <%= render "layouts/receptionForm" %>
    </section>
  </aside>
</div>