<h4>Add a New Staff Member</h4>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:staff_creation, url: signup_path) do |f| %>

      <%= f.label :staffId %>
      <%= f.text_field :staffId, class: 'form-control' , :required => true%><br>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' , :required => true%><br>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' , :required => true%><br>
      
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' , :required => true%><br>
      
      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: 'form-control' , :required => true %><br>

      <%= f.label :role %><br>
      <%= f.select :role, [['Manager','manager'],['Staff','staff']], class: 'form-control' , :required => true%><br><br>
      
      <%= f.label :accessLevel %><br>
      <%= f.select :accessLevel, [['Admin','admin'],['Staff','staff']], class: 'form-control' , :required => true %><br><br>
      
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "min 6 characters", class: 'form-control', :required => true, :minLength => 6  %>

      <%= f.submit "Create New Staff Member", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>