<footer class="container-fluid" style="background-color: red; margin-top: 20px;">
    <div class="row">
        <div class="col-md-9">
            <p class="foot">Goup Assignment - Paul O'Sullivan - 2887084, Barrie Kealy - 2965845, Stephen Cagney - 2887147</p>
        </div>
        <div class="col-md-3" >
          <ul class="nav navbar-nav">
            <!--<li><a style="color:#ffffff;" href="/staff_logins/new">Staff Login</a></li>-->
            <li><a style="color:#ffffff;" href="/contact.html">Contact us</a></li>
            <li><a style="color:#ffffff;" href="/aboutUs.html">About us</a></li>

          </ul>
        </div>
    </div>
</footer>
