
<!-- navigation start -->
<nav class="navbar navbar-default navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME",   '/home.html' %></li>
        <li><%= link_to "TREATMENTS",   '/treatments.html' %></li>
        <li><%= link_to "NEWS",   '/news.html' %></li>
        <li><%= link_to "CONTACT US",   '/contact.html' %></li>
        <li><%= link_to "ABOUT US",   '/aboutUs.html' %></li>
                      <% if logged_in? %>
            <li><%= link_to "StaffLogin", '#' %></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
                </a>
              <ul class="dropdown-menu" style="background-color:#f4511e">
                <li><%= link_to "Profile", current_staff %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
      </ul>
    </div>
  </div>
</nav>
<!-- navigation End -->