<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4> Hello <%= @staff_login.name %>,</h1>
      
     <a href= "../news_pages/newsPage1" > <button type button class= "btn btn-primary"> News item 1  </button> </a>
     <a href= "../news_pages/newsPage2" > <button type button class= "btn btn-danger"> News item 2   </button> </a>
     <a href= "../news_pages/newsPage3" > <button type button class= "btn btn-success"> News item 3  </button> </a>
     <a href= "../news_pages/newsPage4" > <button type button class= "btn btn-info"> News item 4     </button> </a>
     
  </div>
</div>