<div class="row">
  <div class:"appointment">
    <h4>Hello <%= @staff_login.name %>, here is the messages from customers</h1>
  
     <!-- form start -->
      <div class="col-xs-12 col-md-4 col-lg-4 well">
       
         <% Message.all.each do |message| %>
            ID: <%= message.id %> </br>
            Name: <%= message.messageName %> </br>
            Email: <%= message.messageEmail %> </br>
            Phone number: <%= message.messagePhone %> </br>
            Title: <%= message.messageTitle %> </br>
            Time: <%= message.created_at %> </br>
            Message: <%= message.messageText %> </br></br>
          <% end %>
          
          <h4> Make appointment:</h1>
          <% Appointment.all.each do |appointment| %>
            Appointment ID: <%= appointment.id %> </br>
            Patient name: <%= appointment.appointmentPatientName %> </br>
            Time: <%= appointment.created_at %> </br>
            Appointment Notes: <%= appointment.appointmentNotes %> </br> </br>
          <% end %>
      </div>
      </div>
    </div>
      <!-- form end  -->
</div>
